<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <title>Indigo | @Function.Title</title>
    <link href="@Url.Content("~/static/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/static/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/static/plugins/icheck/skins/all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/static/base/css/admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/static/base/css/blank.css")" rel="stylesheet" type="text/css" />
    @RenderSection("styles", required: false)
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/static/plugins/html5shiv/html5shiv.min.js")"></script>
      <script src="@Url.Content("~/static/plugins/respond/respond.min.js")"></script>
    <![endif]-->
</head>
<body>
    @RenderBody()
    <script src="@Url.Content("~/static/plugins/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/static/plugins/jquery-validation/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/static/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/static/plugins/icheck/icheck.min.js")"></script>
    <script src="@Url.Content("~/static/base/base.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

